
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color:#2d2d2d;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}


.container {
    padding-left: 15%;
    padding-right: 15%;
}
section {
    height: 100% ;
}


